body {
  background-color: rgb(189, 44, 157);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.row {
  background-color: transparent;
  height: 90%;
  margin: auto;
  width: 70%;
  left: 15%;

  border: 3px transparent;
  padding-top: 1px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 0;
  text-align: center;
  position: absolute;
}

.player1 {
  background-color: white;
  float: left;
  height: 100%;
  width: 50%;
  opacity: 0.3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.player2 {
  background-color: white;
  float: left;
  height: 100%;
  width: 50%;
  opacity: 0.2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inopacity {
  opacity: 0.5;
}
.btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50px;
  border-radius: 50px;
  border: 0px solid transparent;
  opacity: 0.7;
  transition: all 0.5s;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: large;
}
.image {
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 37%;
  left: 50%;
  position: absolute;
  height: 100px;
}

.restart_game {
  top: 15%;
  width: 200px;
}
.roll_dice {
  top: 70%;
  width: 160px;
}
.hold {
  top: 80%;
  width: 130px;
}
.btn:active {
  transform: translate(-50%, 0.5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
.currentscore {
  background-color: rgb(189, 44, 157);
  height: 120px;
  margin: auto;
  width: 200px;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
  padding: 8px;
  color: rgb(218, 137, 137);
}
h1 {
  margin-top: 80px;
}
p {
  font-family: inherit;
  font-size: inherit;
}
.score {
  font-family: "Nunito", sans-serif;
  font-weight: 180;
  font-size: 80px;
  margin: 10px;
  color: rgb(230, 124, 124);
}

.hidden {
  display: none;
}

.winner {
  background-color: rgb(28, 21, 37);
}
.message {
  color: white;
  text-align: center;
  font-weight: 15;
  font-size: 10;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
